<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/magento/magento2/master/app/code/Magento/Core/etc/config.xsd">
    <default>
        <system>
            <schumacherfm_twig>

            </schumacherfm_twig>
        </system>
    </default>
</config>
