<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="twig" xsi:type="string">SchumacherFM\Twig\Framework\View\TemplateEngine\Twig</item>
            </argument>
        </arguments>
    </type>

    <preference for="Twig\Loader\LoaderInterface" type="SchumacherFM\Twig\Twig\Loader\FilesystemLoader"/>

    <type name="Magento\Framework\View\Element\Template">
        <plugin name="convert_to_twig" type="SchumacherFM\Twig\Plugin\TemplatePlugin" sortOrder="0" />
    </type>
</config>
