<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/magento/magento2/master/app/code/Magento/Backend/etc/system_file.xsd">

    <system>
        <section id="dev">
            <group id="twig" translate="label" showInDefault="1" showInWebsite="1" showInStore="1"
                   sortOrder="1700">
                <label>Twig [SchumacherFM]</label>

                <field id="debug" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>debug: When set to true, the generated templates have a __toString() method that you can
                        use to display the generated nodes (default to false).
                    </comment>
                </field>

                <field id="auto_reload" translate="label" type="select" sortOrder="55" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Auto Reload</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>auto_reload: When developing with Twig, it's useful to recompile the template whenever the
                        source code changes.
                    </comment>
                </field>

                <field id="strict_variables" translate="label" type="select" sortOrder="56" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Strict Variables</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>strict_variables: If set to false, Twig will silently ignore invalid variables (variables
                        and or attributes/methods that do not exist) and replace them with a null value. When set to
                        true, Twig throws an exception instead (default to true).
                    </comment>
                </field>

                <field id="cache" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Use Cache</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>cache: An absolute path (hardcoded: var/twig/) where to store the compiled templates,
                        or false to disable caching (which is the default). If set to true here the hardcoded path
                        will be used for caching.
                    </comment>
                </field>

                <field id="charset" translate="label" type="text" sortOrder="70" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Charset</label>
                    <comment>charset: The charset used by the templates (default to utf-8).</comment>
                </field>

            </group>
        </section>
    </system>
</config>
